{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Internet Shop</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'dadova/css/styles.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&family=Josefin+Sans:wght@200;300&display=swap" rel="stylesheet">
	<meta http-equiv="Content_Type" content="text/html" charset="utf-8">
</head>
<body style="font-family: 'Josefin Sans', sans-serif; max-width: 3000px;">

	{% block content %}

	{% endblock %}

	<footer>
		<p id="date">© 2021</p><br>
		<p id="privacy">PRIVACY POLICY</p>
	</footer>

</body>
</html>