{% extends 'dadova/base.html' %}
{% load static %}

{% block title %}

{% endblock %}


{% block content %}

<style type="text/css">
	
	.a {
		color: rgb(255, 255, 255);
		text-decoration: none;
	}

	.a:hover {
		color: rgb(0, 0, 0);
		transition-duration: 1s;
	}

	.page-link {
		color: rgb(247, 98, 98);
		text-decoration: none;
	}

	.page-item {
		border: 2px solid rgb(247, 98, 98);
		padding: 10px;
		margin: -2px;
	}

	.page-item:hover {
		color: white;
		background: rgb(247, 98, 98);
		transition-duration: 1s;
	}

	.pagination {
		position: relative;
		top: 20px;
		left: 690px;
	}

</style>

	<div id="menu" style="height: 100px;
    width: 1700px;
    position: relative;
    top: -22px;
    left: -20px;
    background-color: rgb(247, 98, 98);
    padding-top: 20px;">
	<h1 id="l">uniLearn</h1>
	<ul style="position: relative;
    top: -50px;
    left: 900px;
    margin: 0px;
    padding: 4px;">
		<li><a class="a" href="{% url 'dadova:home' %}">Home</a></li>
		<li><a class="a" href="{% url 'dadova:features' %}">Features</a></li>
		<li><a class="a" href="{% url 'dadova:categories' %}">Courses</a></li>
		<li><a class="a" href="{% url 'dadova:events' %}">Events</a></li>
		{% if user.id != None %}
			<li><a class="a" href="{% url 'dadova:cart' user.id %}">Cart</a></li>
		{% endif %}
		<li><a class="a" href="{% url 'dadova:register' %}">Sign Up</a></li>
		<li><a class="a" href="{% url 'dadova:user_login' %}">Sign In</a></li>
		{% if user.id != None %}
			<li id="contact"><a class="a" href="{% url 'dadova:profile' user.id %}">{{ user.username}}</a></li>
		{% endif %}
	</ul>
</div>

<div id="content">

<h2>Cart Courses</h2><br>

<ul id="div-list" style="margin-bottom: 100px;">
	
	{% for course in page_obj %}
		
		<div class="course" style="display: inline-block; border: 2px solid rgb(247, 98, 98); position: relative; left: -750px; width: 300px; height: 500px; margin-right: 40px; margin-bottom: 20px; border-radius: 10px;">

			<img src="{{ course.img.url }}" style="border-radius: 10px 10px 0 0;"><br>
			<p class="title" style="margin: 10px; font-size: 1em">{{ course.title }}</p>
			<a class="view" href="{% url 'dadova:detail' course.id %}">View Course</a>
			
		</div>
		

	{% endfor %}

</ul>

<nav aria-label="Pagination">
<ul class="pagination">
                            
{% if page_obj.has_previous %}
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true"><li class="page-item">Newer</li></a>
{% endif %}

{% if page_obj.has_other_pages %}

    {% for p in page_obj.paginator.page_range %}

        {% if page_obj.number == p %}

        	<a class="page-link" href="?page={{ p }}"><li class="page-item active" style="color: white;
		background: rgb(247, 98, 98);" aria-current="page">{{ p }}</li></a>

        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                
            <a class="page-link" href="?page={{ p }}"><li class="page-item" aria-current="page">{{ p }}</li></a>

        {% endif %}

    {% endfor %}

{% endif %}

{% if page_obj.has_next %}
	<a class="page-link" href="?page={{ page_obj.next_page_number }}"><li class="page-item">Older</li></a>
{% endif %}
                            
</ul>
</nav>

</div>

{% endblock %}